* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* -----------------------------------header */

.header {
  padding: 15px;
  background-color: #2196f3;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-right {
  display: flex;
  align-items: space-between;
  gap: 15px;
}

.sound, .score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  background-color: yellow;
}